@use '../../sass/theme.scss' as *;
@use '../../sass/mixins/transitions.scss' as *;


.button {
    font-size: 1rem;
    background-color: $ultraDark;
    padding: 0.825rem 2rem;
    border-radius: 10px;
    color: $ultraLight;
    transition: background 0.3s;


    &:hover {
        background-color: $light;
        color: $dark;
        @include transitionScale(1.0500)
    }

    &:active {
        background-color: $ultraLight;
    }

    &:disabled {
        color: gray;
        background-color: $ultraDark;
    }
}

