@use '../../sass/theme.scss' as *;
@use '../../sass/mixins/breakpoints' as *;

.input {

    font-size: 1.2rem;
    background-color: $dark;
    border-radius: 10px;
    border: 2px solid $semiDark;
    color: $light;
    font-weight: 600;
    transition: all 0.5s;
    padding: 0.6rem;
}

.input:focus {
    outline: none;
    background-color: $ultraDark;
    border: 2px solid $medium;
}

@include screen(md){
    .input {
        min-width: 600px;
    } 
}