@use '../../sass/theme.scss' as *;

.input {

    padding: 1rem;
    font-size: 1.2rem;
    background-color: $dark;
    border-radius: 10px;
    border: 2px solid $semiDark;
    color: $light;
    font-weight: 600;
    transition: all 0.5s;

}

.input:focus {
    background-color: $semiDark;
    border: 2px solid $medium;
}