
@if (label) {
    <label class="label" for="{{name}}">{{label}}</label>
}

@if (textArea) {

    <textarea 
        class="input" 
        name="{{name}}" 
        [placeholder]="placeHolder" 
        [attr.required]="required ? '' : null"
        [(ngModel)]="value"
        (ngModelChange)="emitValue()"
    ></textarea>

} @else {

    <input 
        class="input" 
        name="{{name}}" 
        [placeholder]="placeHolder" 
        [attr.required]="required ? '' : null"
        [(ngModel)]="value"
        (ngModelChange)="emitValue()"
    >
}