@use '../../shared/sass/theme' as *;


//? Sizes:
@mixin customScale($scale) {
    scale: $scale;
}

//? Sizes:
.icon-ultraLarge{
    scale: 7;
}
.icon-large {
    scale: 3;
}

.icon-medium {
    scale: 2;
}

.icon-sm {
    scale: 1;
}


//? Colors:
.icon-light {
    color: $ultraLight;
    @include customScale(1.2);
}

.icon-reset {
    color: unset;
    fill: unset;
}

.icon-disabled {
    color: gray;    
}

//? Transitions 
.icon-transition {
    transition: color 0.5s ease-in-out 0.005s;
}