@use '../../shared/sass/theme' as *;

@mixin customScale($scale){
    scale: $scale;
}

.icon-light {
    color: $ultraLight;
}

.icon-large {
    scale: 3;
}

.icon-medium {
    scale: 2;
}

.icon-sm {
    scale: 1;
}

