<div class="carousel">

    @let currentImage = getCurrentImage();

    <img [src]="currentImage.urlImage" [alt]="currentImage.urlImage" class="carousel__image" 
        [ngClass]="{'carousel__image--active': imageLoad}"  
    >

    <button (click)="previousImage()" class="carousel__button carousel__button--left">
        <mat-icon class="carousel__icon">chevron_left</mat-icon>
    </button>

    <button (click)="nextImage()" class="carousel__button carousel__button--right">
        <mat-icon class="carousel__icon">chevron_right</mat-icon>
    </button>
</div>
