<app-header [headerTitle]="'Multimedia Library'">
    <a href="#muldimedia">Music & Video</a>
    <a href="#svgs">SVGs</a>
    <a href="#images">Images</a>
    <a href="#contact">Contact</a>
</app-header>

<main class="main">

    <article id="multimedia" class="main__article--multimedia">

        <h3>Music & video:</h3>
        <div class="main__article--multimedia__music"><app-music-player [audios]="songs" /></div>
        <div class="main__article--multimedia__video"><app-video-player [videoSrc]="'video/thisCold.mp4'" /></div>

        <div class="main__article--multimedia__annotation">
            <app-annotation (onCoverHover)="handleHover($event)">
                <ng-container class="annotation--cover">
                    <mat-icon class="icon-transition icon-reset icon-disabled icon-ultraLarge"
                        [ngClass]="{'icon-annotation-activate': annotationHover}" svgIcon="annotation"></mat-icon>
                </ng-container>

                <div class="annotation--content">


                    <h1>Best Video and Audio Formats for the Web</h1>

                    <h2>Video:</h2>

                    <ul>
                        <li><strong>MP4 (H.264 + AAC):</strong> High compatibility, good quality, and compression.
                        </li>
                        <li><strong>WebM (VP8/VP9 + Opus/Vorbis):</strong> Patent-free, good quality, but less
                            compatible with Safari.</li>
                        <li><strong>OGG (Theora + Vorbis):</strong> Patent-free, compatible with Firefox, but less
                            used.
                        </li>
                        <li><strong>AVI:</strong> High quality, but large files affect load time.</li>
                    </ul>


                    <h2>Audio:</h2>

                    <ul>
                        <li><strong>MP3:</strong> Highly compatible, good quality, and compression.</li>
                        <li><strong>AAC:</strong> Better quality than MP3 at similar bit rates.</li>
                        <li><strong>OGG (Vorbis):</strong> Patent-free, good quality, but less compatible.</li>
                        <li><strong>Opus:</strong> Excellent quality, ideal for voice and real-time streaming.</li>
                    </ul>


                    <h2>Summary:</h2>

                    <ul>
                        <li><strong>Video:</strong> <em>MP4</em> is the most compatible, <em>WebM</em> is great for
                            modern compression.</li>
                        <li><strong>Audio:</strong> <em>MP3</em> is universal, <em>AAC</em> is better for quality,
                            <em>Opus</em> is best for streaming.
                        </li>
                    </ul>

                </div>
            </app-annotation>
        </div>

    </article>

    <article id="svgs" class="main__article">
        <h3>SVGs:</h3>
        <div class="main__article--svg__items">
            <img src="svg/custom/auto.svg" alt="">
            <img src="svg/custom/casa.svg" alt="">
            <img src="svg/custom/robot.svg" alt="">
        </div>

    </article>


    <article id="images" class="main__article">
        <h3>Image Gallery:</h3>
        <app-carousel [carouselObj]="carouselImages"/>
    </article>


    <article id="contact" class="main__article--form">
        <h3>Contact me!</h3>

        <app-form [onSubmit]="onSubmitForm">
            <ng-container class="formInputs">
                <app-input (getValue)="validateForm($event)" [name]="'name'" [placeHolder]="'Name'" />
                <app-input (getValue)="validateForm($event)" [name]="'email'" [placeHolder]="'E-mail'"
                    [type]="'email'" />
                <app-input (getValue)="validateForm($event)" [name]="'message'" [placeHolder]="'Type your message'"
                    [textArea]="true" />
            </ng-container>

            <ng-container class="formButtons">
                <app-button [text]="'Submit'" [type]="'submit'" [disabled]="true" [enableWhen]="formIsValid" />
            </ng-container>
        </app-form>

        <app-modal [openModal]="openModal" (getModalState)="getModalState($event)">
            <ng-container class="modal__header">
                <p>Thank you so much... </p>
            </ng-container>

            <ng-container class="modal__body">
                <mat-icon class="icon-large">verified</mat-icon>
                <h3>Message sent!</h3>
            </ng-container>
        </app-modal>
    </article>

</main>

<app-footer>

    <div class="footer__columns--items">
        <div>
            <p>Home</p>
            <p>Services</p>
            <p>Gallery</p>
            <p>Contact</p>
        </div>

        <div>
            <p>About Us</p>
            <p>Testimonials</p>
            <p>FAQ</p>
            <p>Privacy Policy</p>
        </div>

    </div>

    <div class="footer__social--items">
        @for (social of socials; track social.id) {
        <a [href]="social.link"><mat-icon class="icon-light" svgIcon="{{social.icon}}"></mat-icon></a>
        }
    </div>

</app-footer>