@use '../../shared/sass/theme.scss' as *;
@use '../../shared/sass/mixins/transitions.scss' as *;
@use '../../shared/sass/mixins/breakpoints.scss' as *;
@use '../../shared/sass/icons' as *;

a {
    color: $semiDark;
    font-weight: 600;
    margin-top: 1rem;
}

a:hover {
    @include transitionScale(1.1);
    text-decoration: underline;
}

.main {
    margin: 1rem;

    &__article {
    }
}


mat-icon {
    color: $ultraLight;
    @include customScale(1.2);
}

.footer__social--items {
    display: flex;
    gap: 1rem;
}

.footer__columns--items {
    display: flex; 
    justify-content: space-around;
}