<app-header [headerTitle]="'Multimedia Library'">
    <a href="">Music & Video</a>
    <a href="">SVGs</a>
    <a href="">Images</a>
    <a href="">Contact</a>
</app-header>

<main class="main">

    <article class="main__article">
        <app-music-player [audios]="songs"/>
    </article>

    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    
    <h1>XDD</h1>    


</main>

<app-footer>
    <div class="footer__columns--items">

        <div>
            <p>Random</p>
            <p>Random</p>
            <p>Random</p>
            <p>Random</p>
        </div>

        <div>
            <p>Random</p>
            <p>Random</p>
            <p>Random</p>
            <p>Random</p>
        </div>

    </div>

    <div class="footer__social--items">
        <a href=""><mat-icon svgIcon="github"></mat-icon></a>
        <a href=""><mat-icon svgIcon="telegram"></mat-icon></a>
        <a href=""><mat-icon svgIcon="whatsapp"></mat-icon></a>
        <a href=""><mat-icon svgIcon="yt"></mat-icon></a>
    </div>
</app-footer>