@use '../../shared/sass/theme.scss' as *;
@use '../../shared/sass/mixins/transitions.scss' as *;
@use '../../shared/sass/mixins/breakpoints.scss' as *;
@use '../../shared/sass/icons' as *;

a {
    color: $semiDark;
    font-weight: 600;
    margin-top: 1rem;
}

a:hover {
    @include transitionScale(1.1);
    text-decoration: underline;
}

.main {

    padding: 1rem;
    color: $ultraLight;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;

    &__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        &--multimedia {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &--form {
            padding-top: 4rem;
            padding-bottom: 4rem;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            align-items: center;
        }
    }
}

.annotation--content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  li {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}


.footer__social--items {
    display: flex;
    gap: 1rem;
}

.footer__columns--items {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.icon-annotation-activate {
    color: yellow;
}

@include screen(lg) {
  .main__article {

    &--multimedia {
      display: grid;
      grid-template-columns: 6fr 4fr;
      grid-template-rows: 0.5fr 0.5fr 8fr;

      &__video {
        display: flex;
        justify-content: center;
        grid-column: 1;
        grid-row: 2 / span 3;
        max-width: 1300px;
      }

      &__music {
        grid-column: 2;
        grid-row: 2;
      }

      &__annotation {
        grid-column: 2;
        grid-row: 3 / span 2;
      }
    }
  }

  .annotation--content {
    margin-bottom: 200px;
  }
}
