<app-header [headerTitle]="'Multimedia Library'">
    <a href="">Music & Video</a>
    <a href="">SVGs</a>
    <a href="">Images</a>
    <a href="">Contact</a>
</app-header>

<main class="main">

    <article class="main__article">
        <h3>Music & video:</h3>
        <app-music-player [audios]="songs" />
    </article>

    <article class="main__article">
        <h3>SVGs:</h3>
        <app-music-player [audios]="songs" />
    </article>

    <article class="main__article">
        <h3>Image Galery:</h3>
        <app-music-player [audios]="songs" />
    </article>


    <article class="main__article--form">
        <h3>Contact with me!</h3>

        <app-form [onSubmit]="onSubmitForm">
            <ng-container class="formInputs">
                <app-input (getValue)="validateForm($event)" [name]="'name'" [placeHolder]="'Name'"/>
                <app-input (getValue)="validateForm($event)" [name]="'email'" [placeHolder]="'E-mail'" [type]="'email'"/>
                <app-input (getValue)="validateForm($event)" [name]="'message'" [placeHolder]="'Type your message'" [textArea]="true"/>
            </ng-container>

            <ng-container class="formButtons">

                <app-button 
                    [text]="'Submit'" 
                    [type]="'submit'" 
                    [disabled]="true" 
                    [enableWhen]="formIsValid"
                />

            </ng-container>
        </app-form>

        <app-modal [openModal]="openModal" (getModalState)="getModalState($event)">
            <ng-container class="modal__header">
                <h3>KAJSDKAJDLAJSSJD</h3>
            </ng-container>

            <ng-container class="modal__body">
                <h3>KAJSDKAJDLAJSSJD</h3>
            </ng-container>
        </app-modal>

    </article>



</main>



<app-footer>
    <div class="footer__columns--items">

        <div>
            <p>Random</p>
            <p>Random</p>
            <p>Random</p>
            <p>Random</p>
        </div>

        <div>
            <p>Random</p>
            <p>Random</p>
            <p>Random</p>
            <p>Random</p>
        </div>

    </div>

    <div class="footer__social--items">
        <a href=""><mat-icon svgIcon="github"></mat-icon></a>
        <a href=""><mat-icon svgIcon="telegram"></mat-icon></a>
        <a href=""><mat-icon svgIcon="whatsapp"></mat-icon></a>
        <a href=""><mat-icon svgIcon="yt"></mat-icon></a>
    </div>
</app-footer>