<div class="audioContainer">

    <div class="audioContainer__title">
        <button><mat-icon>music_note</mat-icon></button>
        <p>{{ currentAudio.name }}.{{currentAudio.format}}</p>
    </div>

    <audio #audio [src]="currentAudio.src" (timeupdate)="onProgress()"></audio>

    <button (click)="onClickFavorite()" class="audioContainer__favorite"
        [ngClass]="isFavorite ? 'audioContainer__favorite--active' : ''">
        <mat-icon>favorite</mat-icon>
    </button>

    <div class="audioContainer__controls">

        <button (click)="previousSong()"><mat-icon>skip_previous</mat-icon></button>

        <button (click)="onPlaying()">
            <mat-icon>{{isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
        </button>

        <button (click)="nextSong()"><mat-icon>skip_next</mat-icon></button>

        <input class="audioContainer__controls--input" [value]="inputProgress" (input)="onChangeInputElement($event)" type="range" min="0" max="100">

        <button (click)="onClickVolume()">
            <mat-icon>{{isPlayingVolume ? 'headphones': 'volume_up'}}</mat-icon>
        </button>

    </div>
</div>